<head>
    <title>Confirmation</title>
</head>

<div class="centered">
    <p>Sveiki,<br><br><br>
        dėkojame, kad kreipiatės į „Swedbank".<br><br><br>
        Į pateiktus klausimus atsakome darbo dienomis 8-20 val., šeštadieniais 9-16 valandomis.<br>
        Jeigu Jums reikalinga skubi informacija, laukiame Jūsų skambučių telefonu 1884 arba tel.<br>
        +370 5 268 4444, jei skambinate iš užsienio. Linkime geros dienos!
    </p>
    <div style = "padding: 15px 500px;">
        <a ng-click="conf()" class="btn btn-default" role="button">Atgal</a>
    </div>

</div>